body {
    background-color: #76a09d;
}


/* override bootstrap's alignment of text */
nav {
    text-align: center;
}


/* footer links */
a {
    color: rgb(98, 132, 161);
}

a:hover {
    color: steelblue;
}


/* header */
.contact {
    color: rgb(47, 89, 122);
    margin-top: 20px;
}

header.row {
    justify-content: center;
}


/* "Contact" background */
.container {
    background-color: #a2b6cc;
}

section.row {
    margin: 20px;
    padding: 20px;
}


/* footer */
footer {
    height: 50px;
    margin-bottom: 0;
    background-color: #343a40;
    color: #eee;
    text-align: center;
}