body {
     background-color:rgb(128, 153, 172); 
}

nav {
    text-align: center;
}

form {
    width: 30%;
}

/* footer links */
a{
    color: rgb(98, 132, 161);
}

a:hover {
    color: steelblue;
}

/* header */
.contact {
    color: rgb(47, 74, 97);
    margin-left: 10px;
}

.container {
    background-color: rgb(147, 175, 197);
}

/* footer */
footer {
    margin-bottom: 0;
    background-color: #343a40;
    color: #eee;
    text-align: center;
}