body {
     background-color:rgb(210, 230, 245); 
}

nav {
    text-align: center;
}

form {
    width: 30%;
}

.contact {
    color: steelblue;
    margin-left: 10px;
}

.container {
    background-color: rgb(183, 210, 231);
}