body {
    background-color:rgb(173, 181, 187);
    text-align: center;
}

h1 {
    color: rgb(67, 67, 82);
}

.col-md-6 {
    margin-top: 20px;
}

.container {
    background-color: rgb(169, 173, 177);
}