body {
    background-color:rgb(173, 181, 187);
    text-align: center;
    margin-bottom:20px;
}

.showcase {
    text-align: center;
    display: block;
    margin: 0 auto;
}

/* header */
h1 {
    color: rgb(67, 67, 82);
}

h2 {
    color:  rgb(65, 90, 112)
}


/* footer links */
a{
    color: rgb(98, 132, 161);
}

a:hover {
    color: steelblue;
}

img {
    margin: 0 auto;
    padding: 10px;
}


/* image margin */
.col-md-6 {
    margin-top: 20px;
}


/* "Portfolio" background */
main.container {
    margin-bottom: 30px;
    padding-bottom: 40px;
    background-color: rgb(169, 173, 177);
}


/* footer */
footer {
    height: 50px;
    margin-bottom: 0;
    background-color: #343a40;
    color: #eee;
    text-align: center;
}