body {
    background-color: #5C7087;
}


/* override bootstrap's alignment of text */
nav {
    text-align: center;
}


/* header */
h1 {
    color: rgb(47, 74, 97);
    text-align: center;
}


/* footer links */
a{
    color: rgb(98, 132, 161);
}

a:hover {
    color: steelblue;
}


/* "About Me" background/ override bootstrap's container margins */
.container-fluid {
    width: 90%;
    padding: 40px;
    margin-bottom: 40px;
    background-color: rgb(147, 160, 170);
}


/* footer */
footer {
    height: 50px;
    margin-bottom: 0;
    background-color: #343a40;
    color: #eee;
    text-align: center;
}