body {
    background-color:rgb(147, 160, 170);
}

nav {
    text-align: center;
}

h1 {
    color: rgb(47, 74, 97);
    text-align: center;
}

.container-fluid {
    width: 90%;
    padding: 30px;
    background-color: rgb(124, 146, 165);
}