body {
    background-color:rgb(147, 160, 170);
}

/* overrride bootstrap's left alignment for nav text */
nav {
    text-align: center;
}

/* Header */
h1 {
    color: rgb(47, 74, 97);
    text-align: center;
}

/* footer links */
a{
    color: rgb(98, 132, 161);
}

a:hover {
    color: steelblue;
}

/* override bootstrap's container margin's */
.container-fluid {
    width: 90%;
    padding: 30px;
    margin-bottom: 30px;
    background-color: rgb(124, 146, 165);
}

/* footer */
footer {
    margin-bottom: 0;
    background-color: #343a40;
    color: #eee;
    text-align: center;
}